     Flask
     Flask-SQLAlchemy
     Flask-Migrate
     Flask-WTF
     Flask-Mail
     authlib
     gunicorn
     itsdangerous
     Werkzeug
     WTForms
     Jinja2
     SQLAlchemy
     click
     requests
     gunicorn==20.1.0
     flask-sqlalchemy==3.0.3
     
